<c-card class="mb-4"  >
  <c-card-body class="p-4" style="align-self: center; text-align: center">
    <c-row style="text-align-last: center;">
      <h1 >Registrar Entidad</h1>
    </c-row>
    <div>
      <c-input-group class="mb-3">
        <label cInputGroupText for="tipoEntidad"> Tipo </label>
        <select
          cSelect
          id="tipoEntidad"
          [value]="tipoEntidad"
          (change)="changeEntidad($event)"
          name="tipoEntidad"
        >
          <option value="sensor">Sensor</option>
          <option value="espacio">Espacio</option>
          <option value="sitio">Sitio</option>
        </select>
      </c-input-group>
    </div>
      <form cForm
            class="row g-3 needs-validation">
              <div *ngIf="tipoEntidad === 'sensor'">
                <c-input-group class="mb-3" style="justify-content: center; ">
                  <c-row class="px-4 py-1">
                    <select #site>
                      <option selected> Sitio </option>
                      <option *ngFor="let i of siteList" value="{{i.id}}">{{i.id}}</option>
                    </select>
                    <select #equip>
                      <option selected> Espacio </option>
                      <option *ngFor="let i of equipList" value="{{i.id}}">{{i.id}}</option>
                    </select>
                  <input #description aria-label="Text input with dropdown  button"
                         id="equip1" required type="text"
                         placeholder="Descripción" cFormControl/>

                    <select #option aria-label="Default select example" cSelect sizing="s" style="flex: 0.5">
                    <option selected> Tipo </option>
                    <option *ngFor="let name of etiquetasDisponibles">{{name}}</option>
                  </select>
                  <label *ngIf="idSensor != ''">La id del sensor es: {{idSensor}}</label>
                  </c-row>
                  <button cButton
                    type="submit" (click)="sendDataSensor(site.value, equip.value, description.value,option.value);
                    site.value='Sitio'; equip.value='Espacio'; description.value=''; option.value='Tipo';" >Registrar</button>
                </c-input-group>

              </div>
              <div *ngIf="tipoEntidad === 'espacio'">
                <c-input-group class="mb-3" style="justify-content: center">
                  <c-row class="px-4 py-2">
                    <select #site>
                      <option selected> Sitio </option>
                      <option *ngFor="let i of siteList" value="{{i.id}}">{{i.id}}</option>
                      <!--<option value="sitio">Sitio</option> !-->
                    </select>
                  <input #id aria-label="Text input with dropdown button" placeholder="Identificador" cFormControl>

                  <input #equip aria-label="Text input with dropdown button" placeholder="Espacio" cFormControl>
                  </c-row>
                  <button type="submit" (click)="sendDataEquip(id.value, site.value, equip.value);
                  id.value='';
                  site.value='Sitio';
                  equip.value='';">Registrar</button>
                </c-input-group>
              </div>
               <div *ngIf="tipoEntidad === 'sitio'">
                 <c-input-group class="mb-3" style="justify-content: center">
                   <c-row class="pr-3 px-4 py-4">
                  <input #id aria-label="Text input with dropdown button" placeholder="Identificador" cFormControl>
                     <input #description aria-label="Text input with dropdown button" placeholder="Descripción" cFormControl>
                   </c-row>
                   <button type="submit" (click)="sendDataSite(id.value, description.value);
                    id.value=''; description.value='';" >Registrar</button>
                 </c-input-group>
              </div>
        <span *ngIf="valid" style="color: #cf2f4c">¡Error en los Datos Ingresados!</span>

      </form>
  </c-card-body>

</c-card>
<c-toaster [placement]="position" class="p-3" position="fixed">
  <c-toast
    (timer)="onTimerChange($event)"
    (visibleChange)="onVisibleChange($event)"
    [visible]="visible">
    <c-toast-header>
      HayIot
    </c-toast-header>
    <c-toast-body>
      <p>{{cText}}</p>
    </c-toast-body>
  </c-toast>
</c-toaster>
