<!-- <app-widgets-dropdown></app-widgets-dropdown> !-->
<c-card class="mb-4">
    <c-card-body>
      <c-row class="mb-3">
        <c-col sm="5">
          <h2 class="card-title mb-0" id="traffic">Entidades Registradas</h2>
        </c-col>
      </c-row>

      <c-row class="mt-1 mb-3 pr-3 px-4 py-4">
        <h3>Sitios Registrados</h3>
        <table class="table table-striped">
          <thead>
          <tr class="table-dark">
            <th scope="col">Id</th>
            <th scope="col">Description</th>
          </tr>
          </thead>
          <tbody >
        <tr *ngFor="let d of data_site['data'];">
            <td class="col-6">{{d.id}}</td>
            <td class="col-6">{{d.site}}</td>
          </tr>
          </tbody>
        </table>
        <c-pagination *ngIf="! (data_site['indexs'].length== 1)" style="justify-content: center" aria-label="Page navigation example">
          <li cPageItem  *ngFor="let n of data_site['indexs']" (click)="fetchSites(n)" >
            <a cPageLink >{{n+1}}</a>
          </li>
        </c-pagination>
      </c-row>


      <c-row class="mt-1 mb-3 pr-3 px-4 py-4">
        <h3>Equipos Registrados</h3>
        <table class="table table-striped">
          <thead>
          <tr class="table-dark">
            <th scope="col">Identificador</th>
            <th scope="col">Sitio</th>
            <th scope="col">Descripcion</th>
          </tr>
          </thead>
          <tbody >
        <tr *ngFor="let d of data_equip['data'];">
            <td class="col-5">{{d.id}}</td>
            <td class="col-2">{{d.siteref}}</td>
            <td class="col-5">{{d.equip}}</td>
          </tr>
          </tbody>
        </table>
        <c-pagination *ngIf="! (data_equip['indexs'].length== 1)" style="justify-content: center" aria-label="Page navigation example">
          <li cPageItem  *ngFor="let n of data_equip['indexs']" (click)="fetchEquips(n)" >
            <a cPageLink >{{n+1}}</a>
          </li>
        </c-pagination>
      </c-row>


      <c-row class="mt-1 mb-3 pr-3 px-4 py-4">
        <h3>Sensores Registrados</h3>
        <table class="table table-striped">
          <thead>
          <tr class="table-dark">
            <th scope="col">Identificador</th>
            <th scope="col">Sitio</th>
            <th scope="col">Equipo</th>
            <th scope="col">Tipo</th>
            <th scope="col">Descripción</th>
          </tr>
          </thead>
          <tbody >
        <tr *ngFor="let d of data_sensor['data'];">
            <td class="col-4">{{d.id}}</td>
            <td class="col-2">{{d.siteref}}</td>
            <td class="col-2">{{d.equipref}}</td>
            <td class="col-2">{{d.type}}</td>
            <td class="col-2">{{d.description}}</td>
          </tr>
          </tbody>
        </table>
        <c-pagination *ngIf="! (data_sensor['indexs'].length == 1)" style="justify-content: center" aria-label="Page navigation example">
          <li cPageItem  *ngFor="let n of data_sensor['indexs']" (click)="fetchSensors(n)" >
            <a  cPageLink>{{n+1}}</a>
          </li>
        </c-pagination>
      </c-row>
      <c-spinner *ngIf="spinner" aria-hidden="true" size="sm"></c-spinner>
    </c-card-body>
  </c-card>
