<div  style="display: flex; flex-wrap: wrap; place-content: center; width: fit-content">
  <div *ngFor="let i of senso, index as n">
    <c-row  style="padding: 10px" >
      <c-col>
        <c-card >
          <c-card-header>
            Estación {{n+1}}
          </c-card-header>
          <c-card-body style="display: flex; flex-direction: row">
          <div *ngIf="names[n][0] != ''">
            <div *ngIf="!badSensors.includes(i[0])">
              <h3 style="padding-left: 15px">{{names[n][0]}}</h3>
              <div style="align-self: center; width: 566px" >
                <canvas class="chart" id="{{i[0]}}" style="width: inherit" [height]="300"></canvas>
              </div>
              <div style="display: flex;">
                <div echarts id="{{i[0]}}1" [options]="optionsHum" class="velo"></div>
                <div echarts id="{{i[0]}}2" [options]="optionsTemp"  class="velo"></div>
              </div>
            </div>
            <div *ngIf="badSensors.includes(i[0])" style="display: flex; flex-direction: column; align-items: center; padding: 160px">
              <h3>{{names[n][0]}}</h3>
              <svg cIcon name="cilFindInPage" style="width: 50%; height: auto;"></svg>
              <span style="width: 40%; text-align: -webkit-center; padding: 10px">No existen datos en los ultimos 30 minutos</span>
            </div>
            </div>
            <div *ngIf="names[n][1] != ''">
            <div *ngIf="!badSensors.includes(i[1])" style="border-left: outset">
              <h3 style="padding-left: 15px">{{names[n][1]}}</h3>
              <div style="align-self: center; width: 566px" >
                <canvas class="chart" id="{{i[1]}}" style="width: inherit" [height]="300"></canvas>
              </div>
              <div style="display: flex;">
                <div echarts id="{{i[1]}}1" [options]="optionsHum" class="velo"></div>
                <div echarts id="{{i[1]}}2" [options]="optionsTemp"  class="velo"></div>
              </div>
            </div>
            <div *ngIf="badSensors.includes(i[1])" style="display: flex; flex-direction: column; align-items: center; padding: 160px; border-left: outset">
              <h3 >{{names[n][1]}}</h3>
              <svg cIcon name="cilFindInPage" style="width: 50%; height: auto;"></svg>
              <span style="width: 40%; text-align: -webkit-center; padding: 10px">No existen datos en los ultimos 30 minutos</span>
            </div>
            </div>
          </c-card-body>
        </c-card>
      </c-col>

    </c-row>
  </div>
</div>
